@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET MVC!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Welcome to the incredible high end piece of Software capable of great things</a>.</p>
</div>
